<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greetings</title>

    <link rel="stylesheet" href="css/greet.css">

</head>

<body>



    <div class="main">


        <h1>Greetings</h1>
        <div class="six columns">
            <div class=" button">
                <h2>Name</h2>

                <form action="greetings" method="POST">


            </div>

            <div class=" counters">
                <input type="text" class="Enter" placeholder="Name" name="enterName" {{capturedNames}}>


                <h3 class="counter" name="counting">{{counters}} </h3>

            </div>
            <div class="lingo">
                <label class="first">
                    <input type="radio" name="languages1" class="language" value="Siswati">
                    <span class="label-body">Siswati</span>
                </label>

                <label class="second">
                    <input type="radio" name="languages1" class="language" value="Xitsonga">
                    <span class="label-body">Xitsonga</span>
                </label>


                <label class="third">
                    <input type="radio" name="languages1" class="language" value="Tshivenda">
                    <span class="label-body">Tshivenda</span>
                </label>
            </div>
            <div>
                <button class="greetMe" type="submit" name="button"> Greet Me </button>

            </div>

        </div>
    </div>
              <h3 class="error">{{message}}</h3>
              {{#if messages}}
    <h4 class="errored"> {{messages.error}}</h4>

    {{/if}}
    </form>
    <div class="button">
    <a href="/resets">
        <button class="reset" type="">Reset</button>
    </a>
    <a class="table" href="/greeted" method:'actionType' name="actionType">

        <div class="button">
            <button class='greet'type="">GREETED NAMES</button>
    </a>
    </div>
    </div>
    </div>



</body>

</html>